---
import Base from '../../layouts/Base.astro';
---
<Base title="The Triforce of UX: Part III — Humility · uxward" bodyClass="essay">
  <style>
  </style>

  <div class="read-bar" id="read-bar" aria-hidden="true"></div>

  <div class="reading-column essay-top">
    <div class="row">
      <a class="back" href="/writing">— Back to writing</a>
      <div class="meta">
        <span>Q1 2016</span>
        <span class="sep">·</span>
        <span>Essay</span>
        <span class="sep">·</span>
        <span>9 min read</span>
      </div>
    </div>
  </div>

  <div class="reading-column essay-title-block">
    <h1 class="essay-title">
      The Triforce of UX: Part III — <em>Humility</em>
    </h1>
    <p class="essay-deck">
      Three qualities to seek in your next UX designer. Part three: why humility is the pinnacle piece of the Triforce, and three questions that reveal whether a candidate truly has it.
    </p>
    <div class="essay-byline">— By Brandon E. B. Ward —</div>
  </div>

  <article class="reading-column essay-body">

    <figure>
    <img src="/images/writing/triforce-ux.jpeg" alt="The Triforce of UX" />
    </figure>

    <h2>3 Qualities To Seek In Your Next UX&nbsp;Designer</h2><p><a href="https://www.brandonebward.com/writing/2016/03/10/the-triforce-of-ux-part-i-empathy">Read Part I here</a>. <a href="https://www.brandonebward.com/writing/2016/03/28/the-triforce-of-ux-part-ii-curiosity">Read Part II here</a>.</p><p>Having conquered the big bosses Apathy and Indifference to obtain the Triforces of <strong>Empathy</strong> and <strong>Curiosity,</strong> at last, our hero faces the greatest force of destruction the world has ever known: Pride. If our hero can overcome Pride to at last take hold of the <strong>Triforce of Humility</strong>, The Triforce of UX will be whole once more...</p>





    <p>The Triforce of&nbsp;UX</p><blockquote>The Triforce of UX consists of Empathy, Curiosity, and Humility.</blockquote><p>In each part of this three-part series, I discuss why I believe each of these are the three most important aspects of a good UX Designer and three questions to ask to discover if the candidate matches these qualities. I’m sure many of you will disagree with me on some or all of these. That’s okay. I understand how you might feel. I’m curious to better understand why you feel that way, and would be humbled by your responses&nbsp;;-)</p><h2>PART III: The Triforce of&nbsp;Humility</h2>





    <p>The Triforce of&nbsp;Humility</p><p>In <em>The Legend of Zelda</em>, the evil Ganon seeks the Triforce in order to conquer, rule, and destroy. The underdog hero Link must fight incredible odds to defeat Ganon’s minions, find the pieces of the Triforce, and combine them in order to defeat the much-more-powerful foe. One of the things I love most about the Triforce is the fact that it can be wielded by both good and evil. It is a tool. Like most tools in our world, the things wrought thereby are reflections of the tool-holder, not the tool itself. Additionally, if the Triforce is wielded by one out of balance (i.e. prizing one of the pieces over the others) it will grant them some short-term power, then break itself apart and scatter once more.</p><blockquote>If the heart of the one who holds the sacred triangle has all three forces in balance, that one will gain the True Force to govern all. But, if that one’s heart is not in balance, the Triforce will separate into three parts...</p><p><strong> — Zelda</strong>, <em>Ocarina of Time</em></blockquote><p>Over time in the Zelda universe, many people good and evil have searched for the Triforce. But inevitably, most were tainted by the lust for the power promised by its possession.</p><blockquote>…yearning for the Triforce soon turned to lust for power, which in turn led to the spilling of blood. Soon the only motive left among those searching for the Triforce was pure greed.</p><p><strong> — Gates to the Golden Land</strong></blockquote><p>For this reason, in many of the Zelda storylines, Link decides to give up the Triforce once the enemy is defeated, lest he too becomes corrupted by the power he possesses, and become the very thing he fights against. This is why I posit the pinnacle piece of The Triforce of UX is <strong>Humility</strong>. The same is true in UX.</p><p>When considering a UX candidate, ask yourself some questions:</p><blockquote>Does the candidate want to build up others, or themselves? Are they seeking to impose their will, or to establish balance in the team? Do they use their position as a weapon, or a binding&nbsp;agent?</blockquote><p>Or, is this another hot shot <strong><em>MY</em></strong> Experience designer? (A UX Designer without the U is a MyX Designer). Is this person always right? Is it their way or the highway? How do they deal with criticism or critique? What happens when a junior developer tells them their design sucks and she found a better way? Humility in design isn’t new. <a href="https://www.google.com/search?btnG=1&amp;pws=0&amp;q=humility+in+design&amp;gws_rd=ssl" target="_blank">Google it</a>.</p><h2>3 Humble Questions For Candidates</h2><blockquote>1. Tell me about a time when you were wrong. or — Tell me about a time when you&nbsp;failed.</blockquote><p>I’ve been here. We all have. Sometimes we get it wrong. It sucks. What you’re looking for here is the introspection — the comprehension to know they’ve made a mistake and the courage to discuss it openly. Are they humble enough to admit they’ve made a mistake then take action to rectify it? As leaders we don’t want to be <a href="http://www.amazon.com/Flight-Buffalo-Excellence-Learning-Employees/dp/0446670081/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1459364752&amp;sr=1-1&amp;keywords=flight+of+the+buffalo" target="_blank">alpha-buffalo</a>, our herds following blindly. You need to be able to trust each other and know that when things go awry you’ve built a team that will put out the fire then tell you about it, rather than call you in a panic asking what they should do. The ability to recognize one’s own mistakes is key in design. Only then are we able to subordinate our wills and desires for the greater good of the product.</p><p>Is this candidate humble enough to accept they’ve made a mistake? That they’re wrong? How will they react when you tell them they’ve messed up and need to redo all of their work? Are they able to see the wisdom in others’ opinions and self-introspect? Can they take criticism, learn from it, and use it as a tool for growth into something better than they were before?</p><blockquote>Prototype like you know you’re right, test like you know you’re&nbsp;wrong.</blockquote><p>There’s a saying based on a line by <a href="https://hbr.org/2010/08/its-up-to-you-to-start-a-good" target="_blank">Robert I. Sutton</a> to “<em>Fight like you know you’re right, listen like you know you’re wrong.</em>” I love it. I’ve heard it extended to UX Design thusly: “<em>Prototype like you know you’re right, test like you know you’re wrong.</em>” Surely there’s a healthy hubris in every designer. There has to be really. How else does someone look at something and say “I can do better than that!” or “Look at this thing I made! Isn’t it lovely!?” There is a lot of one’s self that gets imbued in the things we design — because we think or know we’re doing it right. But when it comes to testing a design with users, stakeholders, and ourselves, without humility the designer will be incapable of discerning what they did right from wrong. What is really working and what is really broken?</p><blockquote>How it feels to watch a user test your product for the first time.<a href="https://twitter.com/hashtag/UX?src=hash&amp;ref_src=twsrc%5Etfw">#UX</a> <a href="http://t.co/IwcqECciFN">pic.twitter.com/IwcqECciFN</a></p>— Jonathan Shariat (@DesignUXUI) <a href="https://twitter.com/DesignUXUI/status/576432203560685568?ref_src=twsrc%5Etfw">March 13, 2015</a></blockquote>
    <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><p>The struggle is real. Does this UX candidate have the humility to figure out how to help that user?</p><blockquote><p>Every person you meet knows something you don’t.</p><p><strong> — Bill Nye</strong></blockquote><p>Confidence is also incredibly important in a designer. They have to stand up in meetings, present, defend, and often fight for what they know is right. All of this requires a bit of pride in one’s work. However, like Zelda said if “<em>…one’s heart is not in balance, the Triforce will separate into three parts…</em>”. Without the balance of humility, a designer eventually stands alone and apart from the team. Empathy is supplanted by Apathy, and Curiosity by Indifference. Every person a designer interacts with has something to teach them. Humility is the key to helping a designer continue learning, and growing, even when they’ve done great things in the past. It’s also the key to binding their teammates together into an elite team capable of designing and building great things. It also takes great confidence to admit when you’re wrong.</p><blockquote>2. A developer calls you over to their desk to show you how they implemented your design, but they’ve made some significant changes. What do you&nbsp;do?</blockquote><p>If you’ve never been here, too bad. I’ve had the opportunity to work with some great developers. On more than one occasion I’ve had this exact experience. The first time it happened I thought “Oh great, the lazy dev didn’t want to take the time to execute my designs properly, now they’re going to ask me to sign off on their poor excuse for a UI.” In all honesty, sometimes that happens. But when you work with really great people often they’re about to blow your mind. I remember one such case where <a href="https://twitter.com/sharpjs" target="_blank">Jeff “Sharpie” Sharp</a> called me over to his desk. “Now, I didn’t build this the way you designed it. Well actually I did and well, it sucked, so I did it this way instead and I want to show you why it’s better.” (I may be paraphrasing, but I’m pretty sure that’s what he said verbatim&nbsp;:-P) “Okaaaaayyyy…” I said. Then Sharpie proceeded to show me how, when actually implemented, what I’d designed, while valid in the prototype, didn’t function that way in the real world. After playing with it for a bit, he’d figured out a way to fix my design, and came up with a better approach. We walked through the InVision prototype I’d made, then through his approach. Sharpie’s was better. “Wow!” I said, “That’s way better. I like what you did. Let’s stick with that. I think the users will really appreciate that flow.” And we went on with our day.</p><p>Other times it went the other way, of course with fewer senior developers. (Sharpie has the good fortune of never being wrong). I might’ve responded with, “Well, I see why you’d think that. Honestly, that was one of the ways I’d originally solved the problem, but when we tested with users we found these problems with that approach. So I really need you to do it the way it was originally designed. It tested well and solves these other problems you hadn’t considered in these ways. But I really appreciate that you’re fighting for the user! It’s really important to me that you care about the UX of our product too.”</p><p>What you’re seeking in this question is how they react when people move their cheese. Do they freak out? Do they get defensive? Are they inextricably intertwined with their designs, unable to let go? Are they pushovers, bending at the whim of every critique? The latter is <em>not</em> humility, it’s subservience. You absolutely do not want a “Yes-Man” for a designer. There’s a big difference between admitting you’re wrong and cowing to everyone for fear of offense or antagonism.</p><blockquote>True humility is not thinking less of yourself; it is thinking of yourself less.</p><p> — <strong>C.S. Lewis</strong>, Mere Christianity</blockquote><blockquote>3. You know you’re right. You have the data and evidence to support your position, but the primary stakeholder just doesn’t like it and wants something else you know is wrong. What do you&nbsp;do?</blockquote><p>I have yet to be on a project where everyone agrees about everything. How will this candidate take it when the lack of humility (or sometimes intelligence) in another will adversely affect the project? Is every hill worth dying for to them? Do they pick their battles? How do they decide what’s worth fighting for, and what’s not? Do they have the necessary skills to teach without being condescending? Can they lead from the shadows? How well do they function when the <a href="http://www.amazon.com/Crucial-Conversations-Talking-Stakes-Second/dp/0071771328/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1459364729&amp;sr=1-1&amp;keywords=crucial+conversations" target="_blank">conversation goes crucial</a>?</p><p>This is something I really struggle with. I’ve been on a project where the stakeholder insisted on a feature I was convinced was not just frivolous and ultimately not useful, but damaging to the project timeline. But I was so new at the time, I just rolled with it, and put up no resistance (can you say “yes-man?”). Team morale suffered because nobody wanted the feature. It took months to properly implement. I had developers I led who refused to touch it, outright unassigning themselves from related tasks, bugs, and stories. When we finally launched, it was a <em>huge</em> sales talking point. It helped sell the product like nothing else. That big increase in sales led to our acquisition. People made bank in part because of that silly feature nobody wanted. The stakeholder was right, I was wrong.</p><p>More painful though, is when ultimately, you were right, they were wrong, and the project suffered or failed because of it. How will they avoid this situation? How will they handle it when they’ve planted a flag on a hill to die for, fought the good fight, and ultimately lost? What happens next?</p><p>One of my previous clients and I had a large disagreement on the tone of the language in the application. After researching, studying, and testing competing and related products I felt we needed a light-hearted, warm/fuzzy approach to the language to contrast the cold, hard numbers of the accounting platform. Other products did it to great success. It matched what I know of HCI and could’ve been a great competitive advantage. We designed it. We demoed it. The CEO/Owner hated it. We educated. We held meetings. We preached. He listened. In the end, he still hated it, and wanted the language to be “professional.” We plead. We argued. The gavel fell, and the language was sanitized. I felt defeated. I felt like a failure. I took a step back and looked at the big picture. Interestingly, this was largely the only time in two years I’d failed to convince the client to do it my way. One hill in the mountain range of UX-wins we’d been able to get implemented. The product wouldn’t fail because its language was bland. The client would be okay. I would be okay. In retrospect, I should’ve acquiesced earlier, but my ego got in the way. I was used to the client just following my lead, and the one time our opinions differed, I got defensive. Humility is really, really hard. But this is how we learn, and ultimately grow from good designers to great.</p>





    <p>The Triforce of&nbsp;UX</p><p>Looking back at our journey, I’m confident that if we can find designers who can effectively <strong>Empathize</strong>, are <strong>Curious</strong> to a fault, and <strong>Humble</strong> enough to know it we’ll be able to build amazing teams capable of innovative, and user-friendly products. Your UX designer is the hub of your product team. They must be willing and able to coexist and flourish among diverse personalities and contrasting, sometimes conflicting goals.</p><p>I hope you find value in applying The Triforce of UX when hiring your next UX designer. Might I also suggest we designers and leaders all seek to be a bit more empathetic, curious, and humble? I’d like to end this series with a quote from one of the great creative leaders of our time. I’ve substituted “designer” for “manager/leader”, as I believe his message is applicable to all:</p><blockquote>I believe the best [designers] acknowledge and make room for what they do not know — not just because humility is a virtue but because until one adopts that mindset, the most striking breakthroughs cannot occur. I believe that [designers] must loosen the controls, not tighten them. They must accept risk; they must trust the people they work with and strive to clear the path for them; and always, they must pay attention to and engage with anything that creates fear. Moreover, successful [designers] embrace the reality that their models may be wrong or incomplete. Only when we admit what we don’t know can we ever hope to learn it.”&nbsp;</p><p> — <strong>Ed Catmull</strong>, Creativity, Inc.</blockquote><p><a href="https://www.brandonebward.com/writing/2016/03/10/the-triforce-of-ux-part-i-empathy">Read Part I here</a>. <a href="https://www.brandonebward.com/writing/2016/03/28/the-triforce-of-ux-part-ii-curiosity">Read Part II here</a>.</p>

    <div class="essay-end">
    <p class="signoff">
    Read Part I (Empathy) and Part II (Curiosity) for the complete Triforce.
    </p>
    <div class="author">— Brandon E. B. Ward · Dallas, TX —</div>
    </div>

  </article>

  <section class="container">
    <div class="more">
      <div class="grid">
        <div class="marker">§ ↗</div>
        <div>
          <div class="more-eyebrow">— More from the writing —</div>
          <div class="more-grid">
            <a class="essay-card" href="/writing">
              <div class="meta">— Essay —</div>
              <h3 class="title">More writing</h3>
              <p class="deck">Thoughts on design, leadership, and the work of making things for people.</p>
            </a>
            <a class="essay-card" href="/writing">
              <div class="meta">— Essay —</div>
              <h3 class="title">More writing</h3>
              <p class="deck">Thoughts on design, leadership, and the work of making things for people.</p>
            </a>
            <a class="essay-card" href="/writing">
              <div class="meta">— Essay —</div>
              <h3 class="title">More writing</h3>
              <p class="deck">Thoughts on design, leadership, and the work of making things for people.</p>
            </a>
          </div>
          <div class="all-link">
            <a href="/writing">— All writing →</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    (function () {
      var bar = document.getElementById('read-bar');
      if (!bar) return;
      function update() {
        var doc = document.documentElement;
        var max = (doc.scrollHeight - doc.clientHeight);
        var pct = max > 0 ? Math.min(100, Math.max(0, (doc.scrollTop || window.scrollY) / max * 100)) : 0;
        bar.style.width = pct + '%';
      }
      update();
      window.addEventListener('scroll', update, { passive: true });
      window.addEventListener('resize', update);
    })();
  </script>
</Base>
